<p>{{answer.content}}</p>
<p>Answered by: {{answer.author}}</p>
<p>Likes: {{answer.likes}}</p>
<button class="btn btn-success" {{action 'upvote' answer}}>upvote</button>
<button class="btn btn-danger" {{action 'downvote' answer}}>downvote</button>
