<p>{{answer.content}}</p>
<p>Answered by: {{answer.author}}</p>
<p>Likes: {{answer.likes}}
  <i class="fa fa-thumbs-up" {{action 'upvote' answer}} aria-hidden="true"></i>
  <i class="fa fa-thumbs-down" {{action 'downvote' answer}} aria-hidden="true"></i>
</p>
