<h2>{{question.content}}</h2>
<p><em>{{question.timestamp}}</em></p>
<p><strong>Asked by:</strong> {{question.author}}</p>
<p><strong>Notes:</strong> {{question.notes}}</p>
<p><strong>Answers:</strong> {{answerAmount}}</p>
{{#if loggedIn.signedIn}}
  <i class="fa fa-pencil" {{action 'showEditQuestion'}} aria-hidden="true"></i>
  <i class="fa fa-trash" {{action 'deleteQuestion' question}} aria-hidden="true"></i>
  <button class="btn pull-right" {{action 'showAnswerForm'}}>Answer</button>
{{/if}}
<hr>
{{#if question.answers}}
<h4>Answers: </h4>
{{else}}
  <p>No answers yet.</p>
{{/if}}
{{#each sortedAnswers as |answer|}}
  <div class="well">
    {{answer-list answer=answer upvote="upvote" downvote="downvote" deleteAnswer="destroyAnswer"}}
  </div>
{{/each}}
